<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceCorp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navbar">
        <a href="{{ url_for('home') }}" style="text-decoration: none; color: inherit;"><h2 class="logo">Space Corp</h2></a>
        <div class="nav-right">
            <a href="{{ url_for('news') }}">News</a>
            <a href="{{ url_for('weather') }}">Weather</a>
        </div>
        <div class="nav-right">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
 
    </nav>
    
        <div class="card">
            <h1>Space Corp</h1>
            {% if user %}
                <p class="welcome">Hello, {{ user }}</p>
            {% endif %}
        </div>
    </div>
    {% block main %}

    {% endblock main %}

</body>
</html>