{% extends "base.html" %}
{% block main %}
<div class="container" >
        <h1>Register</h1>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form  action="/register" method="post">
            <div >
                <label class="thick">email</label>
                <input type="email" name="email">
                <label class="thick">password</label>
                <input type="password" name="password">
            <button class="button1" type="submit" >register</button>
            </div>
        </form>
</div>
{% endblock main %}