{% extends "base.html" %}
{% block main %}
<div class="container" >
        <form  action="/weather" method="post">
            <div class="weatherdiv">
                <label class="thick">City</label>
                <label class="thick">State Code</label>
                <label class="thick">Country Code</label>
                
                <input type="text" name="city" value="Albuquerque">
                <input type="text" name="state" value="NM">
                <input type="text" name="country" value="US">
            <button class="button1" type="submit" >Get Weather</button>
            </div>
        </form>
        <div class="weathercard" style="margin-left: 40%;">
        {% if weather %}
            {{ weather.main }}: {{ weather.description}} <br>
            <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" /><br>
            {{ weather.temp }}°
        {% endif %}
        </div>
</div>

{% endblock main %}