{% extends "base.html" %}
{% block main %}
<div class="container" >
        <form  action="/weather" method="post">
            <div >
                <label class="thick">City</label>
                <input type="text" name="city" value="Albuquerque">
                <label class="thick">State Code</label>
                <input type="text" name="state" value="NM">
                <label class="thick">Country Code</label>
                <input type="text" name="country" value="US">
            <button class="button1" type="submit" >Get Weather</button>
            </div>
        </form>
        {% if weather %}
            <p>{{ weather }}</p>
        {% endif %}
</div>

{% endblock main %}